*{
    margin: 0px;
    padding: 0px;
}
/*variáveis*/
:root{
    --var-colorBackingEscuro: #0A0300;
    --var-Divisor: #2f170171;
    --var-FontHeader: 'Roboto', sans-serif;
    --var-FontParágrafo: 'Roboto Condensed', sans-serif;
    --var-Cores-Links: #904600;
    --var-Cores-LinksDark: #3b1d00;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');

/*Animações*/
@keyframes animationMissionMars {
    50%{
        margin-bottom: 50px;
    }
    100%{
        margin-bottom: 0px;
    }
}

/*estilização dos elementos*/
body{
    background-color: var(--var-colorBackingEscuro);
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-image: url('imagens/background-Header.png');
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 500px 30px black;
}
#TitleSite{
    margin-left: 200px;
    font-size: 25pt;
    margin-top: 25px;
    animation-name: animationMissionMars;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-family: var(--var-FontHeader);
}
#WordMission{
    margin-left: -50px;
}
#Redes{
    position: fixed;
    top: calc(50vh - 40px);
    right: 20px;
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.186);
}
#Redes img{
    width: 25px;
    height: 25px;
    transition: 0.2s;
}
#Redes img:hover{
    filter: brightness(0.8);
}


#Exploração-em-marte{
    padding-top: 130px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -20px 40px 7px var(--var-colorBackingEscuro);
}
.titleTopic{
    font-family: var(--var-FontHeader);
    font-size: 15pt;
}
#BoxTextExploration{
    width: 70%;
    height: max-content;
}
#TextExploration{
    margin-top: 40px;
    height: 150px;
    overflow-y: hidden;
    font-family: var(--var-FontParágrafo);
    color: rgba(255, 255, 255, 0.753);
}
#bttTextMore{
    background: none;
    outline: none;
    margin-top: 10px;
    color: var(--var-Cores-Links);
    font-family: var(--var-FontParágrafo);
    font-weight: 900;
    border: none;
    cursor: pointer;
}
#bttTextMore:hover{
    color: var(--var-Cores-LinksDark);
}
#imagemMarteExploration{
    position: absolute;
    top: calc(100vh + 50px);
    right: 0px;
    z-index: -1;
    filter: opacity(0.5);
}


#Principais-missões{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    height: 200px;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid var(--var-Cores-Links);
}
.mission h2{
    font-family: var(--var-FontHeader);
    margin-left: 20px;
    margin-top: 20px;
}
.mission p{
    font-family: var(--var-FontParágrafo);
    max-width: 500px;
    max-height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 10pt;
    overflow-y: hidden;
}
#missão1{
    background-image: url('imagens/imagem-background-mission1-G.png');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 500px 10px rgb(0, 0, 0);
    background-position: center center;
}
#missão1 img{
    height: 150px;
}
#missão2{
    background-image: url('imagens/imagem-backingGround-mission2-G.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 500px 10px rgb(0, 0, 0);
}
#missão2 img{
    margin-right: 60px;
}
#missão3{
    background-image: url('imagens/imagem-backingground-Mission3-G.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 500px 10px rgb(0, 0, 0);
}
#missão3 img{
    margin-right: 50px;
}
#missão4{
    background-image: url('imagens/imagem-backing-mission4-G.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 500px 10px rgb(0, 0, 0);
}
#missão5{
    background-image: url('imagens/imagem-backGround-mission5-G.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 500px 10px rgb(0, 0, 0);
}

footer{
    margin-top: 100px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--var-Cores-LinksDark);
}
#RedirectToProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: var(--var-FontHeader);
    font-weight: 400;
    font-size: 11pt;
}
footer a:hover{
    color: rgba(128, 128, 128, 0.641);
}

#returnTop{
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#returnTop:hover{
    background-color: var(--var-colorBackingEscuro);
    transition: 0.2s;
    margin-bottom: 10px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.352);
}
#returnTop:active{
    scale: 0.9;
}



/*responsividade*/
@media (max-width: 900px) {
    header{
        height: 80vh;
    }
    #Exploração-em-marte{
        box-shadow: none;
    }
    #imagemMarteExploration{
        top: 90vh;
    }
    #Redes{
        position: fixed;
        top: calc(40vh - 50px);
        backdrop-filter: blur(15px);
    }
}
@media (max-width: 720px){
    header{
        background-size: 200%;
    }
    #TitleSite{
        font-size: 20pt;
        margin-left: 100px;
    }
}
@media (max-width: 550px){
    #TitleSite{
        font-size: 15pt;
    }
    .titleTopic{
        font-size: 12pt;
    }
    .TitleMission{
        font-size: 12pt
    }
    .mission{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    #missão1, #missão2, #missão3, #missão4, #missão5{
        background-size: 150%;
    }
    #missão1 img{
        display: none;
    }
    #missão2 img{
        display: none;
    }
    #missão3 img{
        display: none;
    }
    #missão4 img{
        display: none;
    }
    #missão5 img{
        display: none;
    }
}
@media (max-width: 400px){
    header{
        background-position: bottom center;
        background-size: 250%;
    }
    #TitleSite{
        font-size: 10pt;
    }
    #Redes{
        position: fixed;
        top: 20px;
        right: 20px;
        width: 60px;
        height: 10px;
        padding: 15px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: 1s;
    }
    #Redes img{
        width: 18px;
        height: 18px;
    }
}